
<%= form_tag('/products/', method: 'post') do %>
<div class="row">
  <div class="col-md-12">
    <h4>Color Palette</h4>
    <div class="checkbox">
      <%= label_tag(:dark, "Dark") %>
      <%= check_box_tag(:dark) %>
    </div>
    <div class="checkbox">
      <%= label_tag(:neutral,"Neutral")%>
      <%= check_box_tag(:neutral) %>
    </div>
    <div class="checkbox">
      <%= label_tag(:bright, "Bright") %>
      <%= check_box_tag(:bright) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Pattern</h4>
    <div class="checkbox">
      <%= label_tag(:stripes, "Stripes") %>
      <%= check_box_tag(:stripes) %>
    </div>
    <div class="checkbox">
      <%= label_tag(:argyle, "Argyle") %>
      <%= check_box_tag(:argyle) %>
    </div>
    <div class="checkbox">
      <%= label_tag(:pindots, "Pindots") %>
      <%= check_box_tag(:pindots) %>
    </div>
    <div class="checkbox">
      <%= label_tag(:geometric, "Geometric") %>
      <%= check_box_tag(:geometric) %>
    </div>
    <div class="checkbox">
      <%= label_tag(:polkadot, "Polkadot") %>
      <%= check_box_tag(:polkadot) %>
    </div>
    <div class="checkbox">
      <%= label_tag(:camo, "Camo") %>
      <%= check_box_tag(:camo) %>
    </div>
    <div class="checkbox">
      <%= label_tag(:paisley, "Paisley") %>
      <%= check_box_tag(:paisley) %>
    </div>
    <div class="checkbox">
      <%= label_tag(:floral, "Floral") %>
      <%= check_box_tag(:floral) %>
    </div>
    <div class="checkbox">
      <%= label_tag(:novelty, "Novelty") %>
      <%= check_box_tag(:novelty) %>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= submit_tag("Show Me!", class: 'btn btn-lg btn-primary') %>
  </div>
</div>
<% end %>


